body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-top: 175px; 
    padding-bottom: 50px;
}


.bg-c-yellow {
    background-color: #FFC107;
}

.bg-c-yellow-light {
    background-color: #FFDB72;
}

.bg-c-orange {
    background-color: #ff922c;
}

.txt-c-white {
    color: white;
}

.btn {
    background-color: #d35400;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: #f1f1f1;
}

.hover-c-yellow:hover {
    background-color: #FFC107;
}

nav h1.logo {
    font-size: 2.5em;
    font-weight: 900;
}

input {
    width: 70%;
}

div>.col-md-8>p {
    display: inline-block;
    width: 70%;
}

.text-dec {
    text-decoration: none;
}

.text-dec:hover {
    text-decoration-color: white;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFDB72;
    color: black;
    position:fixed;
    top:0;
    width:100%;
    z-index: 9999;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

/* LOGO */
.logo {
    font-size: 32px;
    padding-bottom: .4em;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #fde59c;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

li {
    list-style: none;
}

.margin-t {
    margin-top: 1em;
}




/*RESPONSIVE NAVBAR MENU STARTS*/
ul input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #FFDB72;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top:3.5em;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #fde59c;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

}