.main-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-bottom: 25px;
}


h1,
h2 {
    margin: 0 0 8px;
    font-size: 32px;
}

.bigger-text {
    font-weight: 400;
    font-size: 18px;
}

.bg-c-yellow {
    background-color: #FFC107;
}

.bg-c-yellow-light {
    background-color: #FFDB72;
}

.bg-c-orange {
    background-color: #ff922c;

}

.txt-c-white {
    color: white;
}

.orange-btn {
    background-color: #d35400;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: #f1f1f1;
}

.hover-c-yellow:hover {
    background-color: #FFC107;
}

input.search {
    width: 70%;
}

div>.col-md-8>p {
    display: inline-block;
    width: 70%;
}

.text-dec {
    text-decoration: none;
}

.text-dec:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.margin-t {
    margin-top: 1em;
}


.hours {
    margin: 2px 2px;
}

button {
    align-items: center;
    margin: 1rem;
}

footer {
    margin-left: 2rem;
}

button.like-button {
    margin-top: 0;
}

/* pagination stuff */
.paginationBttns {
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttns a:hover{
    background-color: #FFDB72; 
    
}

.paginationActive a {
    background-color: #FFDB72;
}

/* navbar stuff */
/* mobile navbar css */
.NavbarItems {
    background-color: #FFDB72;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.NavbarItems {
    position: relative;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    list-style: none;
}

.nav-menu.active {
    background: #FFDB72;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.nav-links:hover {
    background-color: #fde59c;
    border-radius: 0;
}

.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2.5em;
    font-weight: 900;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    font-size: 2rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 18px;
}

/* navbar media query for desktop size */
@media (min-width: 768px) {

    .nav-menu {
        display: inline-flex;
        justify-content: end;
        left: 0;
        top: 0;
        flex-direction: row;
        padding: 28px 32px;
        transition: none;

    }

    .nav-links {
        color: black;
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 18px;
        font-weight: 375;
    }

    .menu-icon {
        display: none;
    }

    .nav-links:hover {
        background-color: #fde59c;
        transition: all 0.2s ease-out;
        border-radius: 4px;
    }

}